.home-bg{
	background: url("../pictures/fond_ecran.jpg") no-repeat center center fixed;
}

.logo-user{
	margin: 10px 5px 0px 150px;
}

.logo-bot{
	margin: 10px 150px 0px 5px;
}

.msg-research{
	background-color: #FFF633;
	padding: 5px 20px 5px 20px;
	margin-top: 10px;
}

.msg-answer{
	background-color: #33C1FF;
	padding: 5px 20px 5px 20px;
	margin-top: 10px;
}

.h-search{
	height: 300px;
}

.h-answer{
	height: 500px;
}

.opa-1{
	background-color: rgba(0, 0, 0, 0.1);
}

.loader{
	display: none;
	position: absolute;
	top: 30%;
	left: 50%;
	z-index: 1;
}

#map {
        height: 100%;
      }